.changepath-container {
  display: flex;
  background: url(/bba3.jpg)no-repeat center/cover;
  height:100vh;
  justify-content: center;
  align-items: center;
}
.changepath-center{
  width: 50%;
  height: 50%;

}
.change-button{
  background:url("/papercard.jpg");
}
.change-icon{

  width:100%;
  height:100vh;
}