.changepath-container {
  display: flex;
  background: url(/technology-792180_1920.jpg);
  height:100vh;
  justify-content: center;
  align-items: center;
}
.changepath-center{
  width: 50%;
  height: 50%;

}

.change-icon{
  width:100%;
  height:100vh;
}